<div class="col-md-12 space" >
	{{#if drop}}
		{{input type="text" placeholder="Youtube url" value=url}}
		<button type="button" class="btn btn-primary" {{action 'addVideo'}}>Add</button>
	{{else}}
		<button type="button" class="btn btn-primary" {{action 'toggleDrop'}}>Add Video</button>
	{{/if}}
</div>

