<div class="col-md-12 inputSpace">
	<div class="col-md-offset-4">
		{{input class = "inputAddVideoBar" type="text" placeholder="Enter your youtube video link" enter="addVideo" value=url}}
		<button type="button" class="btn btn-success" {{action 'addVideo'}}>Add</button>
	</div>
</div>
