{{input value=keyword placeholder="Write keyword here..." enter="addNote"}}
<br>
{{#each model.notes as |note|}}
	<div  {{action 'seekTo' note.timestamp}} >
		<a href="">{{note.time}} - {{note.keyword}}<br></a>
	</div>
{{/each}}