	<h2 class="section-heading heading-cloud">See your keywords in a tag cloud!</h2>
	<img  class = "cloud-logo clickable" src ="assets/images/tag-cloud.png" {{action 'showCloud'}}>
	<span class ="font-logo cloudgen-title">Click the image to generate your tag cloud!</span>
	

