.time{
	background-color: #E0E0E0; 
	border-radius: 3px;
	padding: 0px 2px;
}

#keyword_writer{
	width:300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.custom-panel{
	width: 300px ;
}

.remove{
	float: right;
}

.note{
	height: 500px;
	overflow: auto;
}

.clickable{
	cursor: pointer;
}

#tag-cloud{
	
}