
<div class="col-md-8">
	{{model.youtube.title}}
	{{video-frame model=model.youtube myPlayer=myPlayer}}
	{{tag-cloud model=model.notes}}
</div>
<div class = "col-md-4">
	{{notes-frame model=model myPlayer=myPlayer}}
</div>
